<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dojo Survey</title>
  </head>
  <body>
    <main>
      <form method="POST" action="addInfo">
        <label for="Name">Your Name:</label>
        <input type="text" name="YourName" />

        <label for="Location">Dojo Location:</label>
        <select type="Location" name="YourName">
          <option value="SanJose">San Jose</option>
          <option value="SanJose">San Jose</option>
          <option value="SanJose">San Jose</option>
          <option value="SanJose">San Jose</option>
        </select>

        <label for="Name">Your Name:</label>
        <input type="text" name="YourName" />

        <label for="Name">Your Name:</label>
        <input type="text" name="YourName" />
      </form>
    </main>
  </body>
</html>
