@{ ViewData["Title"] = "CRUDelicious"; }



@section Title{ 
  <div class="text-center">
    <h1 class="display-4">Welcome to CRUDelicious</h1>
  </div>
}

<div>
  @model List<Dish>
    <h3>Check out some recent dishes</h3>
    @foreach(Dish d in Model)
    {
      <ul>
        <li>
          <a href="/dishes/@d.DishId">@d.Name</a>
          by @d.Chef
        </li>
      </ul>
    }
  </div>
